body {
    padding-bottom: 70px;
}

.navactive {
    color: #7d7d7d !important;
    background-color: transparent;
}

.navbar-inverse {
    background: #fff;
    border: none;
}
.navbar-brand {
    color: #5e5e5e !important;
}
