body {
    padding-bottom: 70px;
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
@media only screen and (max-width:768px) {
    body {
        overflow: visible;
    }
}

.navbar-inverse {
    background: #fff;
    border: none;
}
.navbar-brand {
    /* color: #414141 !important;*/
    font-family: 'Pacifico', cursive;
}

.soic {
    color: #5e5e5e;
    fill: #5e5e5e;
}
@media only screen and (min-width:768px){
    .soic:hover {
        color: #fff;
        fill: #fff;
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
        transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
        transition: background-color 0.5s, transform 0.5s ease-out;
        transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    }
}

.icons {
  margin-bottom: 1.5em;
  text-align: center;
}

.icon {
  display: inline-block;
  position: relative;
  top: 0;
  width: 10em;
  height: 10em;
  margin: 0 .7em;
  -webkit-transition: .2s;
  transition: .2s;
  fill: none;
}
.icons--gradient .icon {
  stroke-width: 3;
  stroke: url(#stripes);
}
 .icon-bar-inverse {
     background-color: #414141 !important;
 }
 .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent !important;
}

@media only screen and (min-width:768px){
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #fff;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
        transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
        transition: background-color 0.25s, transform 0.25s ease-out;
        transition: background-color 0.25s, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    }
}
.navbar-inverse .navbar-nav>li>a {
    color: #5e5e5e;
}

@media only screen and (max-width:768px){
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        background-color: #5e5e5e !important;
    }
}

.portcard>a>.porthover>p {
    font-size: 13px;
}
.portcard>a {
    color: #333;
    text-decoration: none;
}
.portcard>a>.porthover>h3 {
    font-size: 18px;
}

.portcard>a>.porthover>ul>li {
    font-size: 13px;
}