<div class="row">
    <div class="col-md-12">
        <div class="view-animate-container">
            <h2>How to get at me:</h2>
            <p class="hidden-xs" >You can click one of those social media links in the top left, or you can email me at;
                <a href="mailto:folkertjw@gmail.com">folkertjw@gmail.com</a>
            </p>
            <p class="hidden-sm hidden-md hidden-lg" >You can click one of those social media links in navigation menu, or you can email me at; 
                <a href="mailto:folkertjw@gmail.com">folkertjw@gmail.com</a>
            </p>
        </div>
    </div>
</div>