<div class="row">
    <div class="view-animate-container">
        <div class="col-md-6">
            <h2>Hi!</h2>
            <p>
                My name is James Folkert and I am a frontend web developer 
                from Grand Rapids, Michigan. I spent the first few years 
                out of college working help desk IT, and I don't think it's 
                for me. I graduated with a specialty in web development, so 
                I have been working almost all my free 
                time into relearning web development. I will be moving 
                to Denver in a few months and I'm looking forward to the change in career.
            </p>
            <p class="hidden-sm hidden-md hidden-lg" >Get at me; 
                <a href="mailto:folkertjw@gmail.com">folkertjw@gmail.com</a>
            </p>
        </div>
        <div class="col-md-3">
            <h4>Things I like:</h4>
            <ul>
                <li>Coffee</li>
                <li>Breakfast foods</li>
                <li>Disc golf</li>
                <li>PC gaming</li>
                <li>Hiking &amp; camping</li>
                <li>Snowboarding</li>
                <li>Documentaries narrated by David Attenborough</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Things I dislike:</h4>
            <ul>
                <li>Long lines</li>
                <li>Loud chewing noises</li>
                <li>Being indoors</li>
                <li>Disorganization</li>
                <li>Litterbugs</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="view-animate-container">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <h4>Things I know how to do:</h4>
            <ul>
                <li>JavaScript</li>
                <li>CSS (less/ sass)</li>
                <li>CSS animation</li>
                <li>AngularJs</li>
                <li>Bootstrap</li>
                <li>Source control</li>
                <li>Wordpress</li>
                <li>Adobe CC</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Things I don't' know how to do:</h4>
            <ul>
                <li>Give you up</li>
                <li>Let you down</li>
                <li>Run around</li>
                <li>Desert you</li>
            </ul>
        </div>
    </div>
</div>
