<div class="row">
    <div class="col-md-12">
        <div class="view-animate-container">
            <h2>Portfolio</h2>
            <p>Here's what I've done so far.</p>
            <div class="row">
                <div class="col-md-3 portcard">
                    <a href="../assets/RDoc_Web_12082016.pdf">
                        <blockquote class="porthover">
                            <h3>Resume</h3>
                            <p>Key points;</p>
                            <ul>
                                <li>BA from Michigan State University, Media and Communications</li>
                                <li>Proficient with numerous front end web development technologies</li>
                                <li>Willing to work my butt off to learn as much as I can</li>
                            </ul>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="http://jwfolkert.com/mysky/">
                        <blockquote class="porthover">
                            <h3>MySky</h3>
                            <p>I am a huge fan of the site DarkSky.net. This small project is aimed at giving me weather 
                            website based on their API that I can use more quickly and effectively, and customized with only the information that I care about.
                            I look to develop this further with user logins and more fine-tuned customization on a user basis.
                            </p>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="http://mychamps.azurewebsites.net/">
                        <blockquote class="porthover">
                            <h3>My Champs</h3>
                            <p>Working with a friend for the backend, we used the RiotGames API to compile/ store big data on searched players
                                of the MOBA 'League of Legends.' We then show data on the player's most played 'champ' in 
                                specific roles. This functionality could be expanded to include all sorts of data insights.
                            </p>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="http://hoffmannshandymanservice.com/">
                        <blockquote class="porthover">
                            <h3>Hoffmann's Handyman Service</h3>
                            <p>A friend requested my help in creating a quick website to get the name of his father's
                                new company out on the web. I worked with a small budget to come up with a very simple
                                page to appeal to his primary customer base of seniors. This site is mobile friendly 
                                thanks to the graphic and optimization work done. I also worked to provide a page on 
                                Facebook for the new company.
                            </p>
                        </blockquote>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>