<div class="row">
    <div class="col-md-12">
        <div class="view-animate-container">
            <h2>Portfolio</h2>
            <p>Here's what I've done know so far.</p>
            <div class="row">
                <div class="col-md-3 portcard">
                    <a href="../assets/RDoc_Web_12082016.pdf">
                        <blockquote class="porthover">
                            <h3>Resume</h3>
                            <p>Key points;</p>
                            <ul>
                                <li>BA from Michigan State University, Media and Communications</li>
                                <li>Proficient with numerous front end web development technologies</li>
                                <li>Willing to work my butt off to learn as much as I can</li>
                            </ul>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="#">
                        <blockquote class="porthover">
                            <h3>A thing will go here</h3>
                            <p>And I would write about it here too. And I would write about it here too. And I would write about it here too.
                                And I would write about it here too. And I would write about it here too. And I would write about it here too. 
                                And I would write about it here too. And I would write about it here too. And I would write about it here too. 
                            </p>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="http://mychamps.azurewebsites.net/">
                        <blockquote class="porthover">
                            <h3>My Champs</h3>
                            <p>Working with a friend, we used the RiotGames API to compile/ store big data on searched players
                                of the MOBA 'Leauge of Legends.' We then show data on the player's most played 'champ' in 
                                specific roles. This functionality could be expanded to include all sorts of data insights.
                            </p>
                        </blockquote>
                    </a>
                </div>
                <div class="col-md-3 portcard">
                    <a href="http://hoffmannshandymanservice.com/">
                        <blockquote class="porthover">
                            <h3>Hoffmann's Handyman Service</h3>
                            <p>A friend requested my help in creating a quick website to get the name of his father's
                                new company out on the web. I worked with a small budget to come up with a very simple
                                page to appeal to his primary customer base of seniors. This site is mobile friendly 
                                thanks to the graphic and optimixation work done. I also worked to provide a page on 
                                Facebook for the new company.
                            </p>
                        </blockquote>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>