<div class="view-animate-container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome</h2>
            <p>
                Here we find a full list of clients served by JW designs. These are current websites managed and created by me. Feel free to reach out with any requests, I would love to hear from you!
            </p>
            <p class="hidden-sm hidden-md hidden-lg">Get at me;
                <a href="mailto:folkertjw@gmail.com">folkertjw@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portcard">
            <a href="https://jwfolkert.com">
                <blockquote class="porthover">
                    <h3 class="porthovertitle">My Personal Website</h3>
                    <p>I created a personal website that displays my skills and qualifications in web development. Constantly in development, I tinker on this site about once a week.
                    </p>
                    <h5>Key Tech used</h5>
                    <ul>
                        <li>angularJs</li>
                        <li>SVG creation and animation</li>
                        <li>Javascript</li>
                        <li>Bootstrap</li>
                    </ul>
                </blockquote>
            </a>
        </div>
        <div class="col-md-4 portcard">
            <a href="http://mychamps.azurewebsites.net/">
                <blockquote class="porthover">
                    <h3 class="porthovertitle">My Champs</h3>
                    <p>We used the RiotGames API to compile/ store big data on searched players of the popular MOBA 'League of Legends.' We then show data on the player's most played 'champ' in specific roles. This functionality is currently being expanded
                        to include all sorts of data insights, along with a complete graphical overhaul.
                    </p>
                    <h5>Key Tech used</h5>
                    <ul>
                        <li>angularJs</li>
                        <li>Angular 2</li>
                        <li>Javascript</li>
                        <li>ECMAScript 2016</li>
                        <li>C#</li>
                    </ul>
                </blockquote>
            </a>
        </div>
        <div class="col-md-4 portcard">
            <a href="http://kennyraysplace.com/">
                <blockquote class="porthover">
                    <h3 class="porthovertitle">Kenny Ray's Place</h3>
                    <p>This site is currently under construction!</p>
                    <p>My Barber decided to strike it out on his own and open his own salon. I offered to help with web services and SEO/ online presence. This is a media heavy site, that loads quickly and displays beautifully across all browsers and screen
                        sizes.
                    </p>
                    <h5>Key Tech used</h5>
                    <ul>
                        <li>Bootstrap</li>
                        <li>Mobile First design</li>
                    </ul>
                </blockquote>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portcard">
            <a href="http://hoffmannshandymanservice.com/">
                <blockquote class="porthover">
                    <h3 class="porthovertitle">Hoffmann's Handyman Service</h3>
                    <p>A friend requested my help in creating a quick website to get the name of his father's new company out on the web. I worked with a small budget to come up with a very simple page to appeal to his primary customer base of senior citizens.
                        I also worked to provide a page on Facebook for the new company.
                    </p>
                    <h5>Key Tech used</h5>
                    <ul>
                        <li>Bootstrap</li>
                        <li>Mobile First design</li>
                    </ul>
                </blockquote>
            </a>
        </div>
        <div class="col-md-4 portcard">
            <a href="https://mysky.jwfolkert.com/">
                <blockquote class="porthover">
                    <h3 class="porthovertitle">MySky</h3>
                    <p>I am a huge fan of the site DarkSky.net. This small project is aimed at giving me weather website based on their API that I can use more quickly and effectively, and customized with only the information that I care about. I look to
                        develop this further with user logins and more fine-tuned customization on a user basis.
                    </p>
                    <h5>Key Tech used</h5>
                    <ul>
                        <li>angularJs</li>
                        <li>external API intgration</li>
                        <li>Javascript</li>
                        <li>Bootstrap</li>
                    </ul>
                </blockquote>
            </a>
        </div>
    </div>
</div>